body {
    background-color: rgb(253, 105, 179);
}
footer {
    background-color: rgb(248, 3, 101);
    color: white;
    bottom:0;
    position:fixed;
    width:100%;
}
footer p{
    text-align: center;
    font-size: 0.6rem;
     height:2rem;
}
